.Press-content {
    font-family: MyriadSemiC;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: larger;
    margin-left: 10px;
    
}

.Press-content a {
    text-decoration: underline;
    color: rgb(209, 28, 185);
}

.Press-content li {
    list-style: none;
    line-height: 1.5;
    margin-top: 3px;
}



.Press-content h3 {
    font-family: MyriadItalic;
    font-weight: 100;
    margin-bottom: 10px;
    
}

.Press-hr {
    width: 80%;
    border: 1px solid black;
    margin-bottom: 20px;
}